@import "steel-bootstrap/src/variables";
@import "steel-bootstrap/src/mixins";

/* Sidebar
	 ========================================================================== */

.sidebar {
	background: white;
	border-radius: $border-radius-small;
	box-shadow: $shadow-large;
	width: 208px;
}

.sidebar-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-item {
	display: block;
	margin: 2px 0;
}

.sidebar-item:first-child {
	margin-top: 0;
	padding-top: 16px;
}

.sidebar-item:last-child {
	margin-bottom: 0;
	padding-bottom: 16px;
}

.sidebar-link {
	@include anim(all);
	color: rgba($secondary, .9);
	display: block;
	font-size: 13px;
	padding: 8px 20px;
	text-decoration: none;
}

.sidebar-link:hover {
	background: rgba($primary, .05);
	color: rgba($secondary, .9);
}

.sidebar-link-selected,
.sidebar-link-selected:hover {
	background: rgba($primary, .1);
	color: $primary;
}

.sidebar-icon {
	color: $primary;
	display: inline-block;
	margin-right: 16px;
	vertical-align: middle;
	width: 16px;
}
